In [4]:
import pandas as pd
import os
import sys
from pathlib import Path

from f00_read_configs import read_excel_data_from_row
from f00_read_configs import set_config_df_types

base_path = Path(r'C:\Users\Admin\Desktop\Docker\docker_freecodecamp\docker_test_jupyter')
filepath = 'read_workflow_config_test.xlsx'
sheet_name = 'F001_(4)'  
config_df = read_excel_data_from_row(filepath, sheet_name)
config_df = set_config_df_types(config_df)
config_df

In [11]:
from f00_read_configs import read_config_except_columns
# base_path = Path(r'C:\Users\Admin\Desktop\Docker\docker_freecodecamp\docker_test_jupyter')
base_path = Path('/usr/src/app')
config_file = 'read_workflow_config_test.xlsx'
sheet_name = 'F001_(4)'
config_file_path = base_path / config_file
file_config_df, cal_df, mapping_zone_df = read_config_except_columns(base_path, config_file_path, sheet_name, lower_case_except_file_zone=True,
                                                       execpt_cal_df_columns={"criteria_value"}, 
                                                       execpt_mapping_zone_df_columns=None)

In [12]:
cal_df

,linked_input_class,remove_rows_list,applied_column,criteria_to_remove_row,criteria_value,Num
0,a,"position, year_month",NaN,NaN,NaN,1
1,b,year_month,year_month,=,Total,2
2,a,NaN,year_month,=,Applied filters:,3
3,a,NaN,position,contain,M,4
4,a,NaN,year_month,=,Total,5

In [13]:
from f01_remove_rows import read_input_file_type, apply_removal_criteria, normalize_text, run_removal_automation

In [14]:
run_removal_automation(file_config_df, cal_df, base_path)

Output file path: /usr/src/app/abc/Test_df_remove.xlsx
First row values for debugging: ['yearmonth', 'yearquarter', 'year6m', 'staffusername', 'position', 'slkhquanly']
First row matches header criteria, using as header.
Header set successfully.
Applying criteria: nan nan nan
No applied column provided. Skipping this criteria.
Applying criteria: year_month = Applied filters:
Applying criteria: position contain M
Applying criteria: year_month = Total
Excel writer status: True
Data written to Sheet1 in /usr/src/app/abc/Test_df_remove.xlsx
Output file path: /usr/src/app/abc/Test_df_remove.xlsx
First row values for debugging: ['a', 'b', 'c', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Header found at index: 7
Header set successfully.
Applying criteria: year_month = Total
Excel writer status: True
Data written to Sheet2 in /usr/src/app/abc/Test_df_remove.xlsx
Closed writer for /usr/src/app/abc/Test_df_remove.xlsx